<!doctype html>
<html>
<head>
  <title>Tripplanner</title>
  <!--favicon:-->
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  
  <!-- ugh idk how to put fonts in w/o the internet -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
  
  <!--Stylesheets go here!-->
  <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='stylesheets/style.css' />

</head>
<body>
  
  {% block content %}
  {% endblock %}
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="jquery/dist/jquery.min.js"></script>

<!-- lol what -->
<script>
$(document).ready(function() {
    $('#logo').hide();
    $('a').hide();
    $('#logo').fadeIn(1000);
    $('a').fadeIn(1000);
});
</script>

</body>
</html>